# Some Built-in Functions
By:<a href='https://www.youtube.com/wonkyCode'>WonkyCode</a>

# 1. <code>zip()</code>
* Returns an iterator of tuples, where the i-th tuple contains the i-th element from each of the argument sequences or iterables

In [11]:
zipped = zip(['a','b','c','d','t'],[4,5,6,7])

In [5]:
zipped

In [12]:
list(zipped)

[('a', 4), ('b', 5), ('c', 6), ('d', 7)]

In [18]:
num1 = [1,2,3,4,5]
num2 = [6,7,8,9,10]
num3 = [11,12,13]

zip(num1, num2, num3)

In [15]:
list(zip(num1, num2, num3))

[(1, 6, 11), (2, 7, 12)]

In [19]:
names = ["Rohit", "Harsha", "Saran", "Shakeer", "Abhijith"]

list( zip(names, num1, num2,num3) )

[('Rohit', 1, 6, 11), ('Harsha', 2, 7, 12), ('Saran', 3, 8, 13)]

We can also unpack zipped content

In [33]:
zipped = [(0,1,3), (1,2,6), (2,3,9), (3,4,12), (4,5,15)]
zip(zipped)

In [34]:
type(zipped)

list

In [35]:
list(zip(*zipped))

[(0, 1, 2, 3, 4), (1, 2, 3, 4, 5), (3, 6, 9, 12, 15)]

In [3]:
marks_sem1 = [80, 91, 78]
marks_sem2 = [98, 89, 53]

students = ["Rohit", "Arjun", "Abhimanyu"]

final = [max(pair) for pair in zip(marks_sem1, marks_sem2)]

list(zip(final,students))

[(98, 'Rohit'), (91, 'Arjun'), (78, 'Abhimanyu')]

In [ ]:
final_dict = {pair[0] : max(pair[1]max(pair), pair[2]) for pair in zip(students, marks_sem1, marks_sem2)}

final_dict

In [ ]:
final = map(lambda pair : max(pair), zip(marks_sem1, marks_sem2))

In [ ]:
list(final)

In [ ]:
final = zip(students, map(lambda pair : max(pair), zip(marks_sem1, marks_sem2)))

dict(final)

# 2. <code>all()</code>
* Return True if all elements of the iterable are truthy.
* If the iterable is empty, return True.

In [31]:
all([False,1,2,3]) # because 0 is not a truthy value

False

In [29]:
lista = [char for char in 'eio' if char in 'aeiou']
lista

['e', 'i', 'o']

In [30]:
all( [char for char in 'eio' if char in 'aeiou'] )
all([])

True

In [32]:
[char for char in 'eio' if char in 'aeiou']

['e', 'i', 'o']

In [41]:
all( [num-5 for num in [4,5,10,6,8]] )

False

In [40]:
[num/5 for num in [4,5,10,6,8]]

[0.8, 1.0, 2.0, 1.2, 1.6]

In [42]:
names = ["Rohit", "Arjun", "Abhimanyu"]

In [43]:
all( [name[0] == 'R' for name in names] )

False

In [45]:
[name[0] == 'R' for name in names]

[True, False, False]

In [ ]:
all([])

# 3. <code>any()</code>
* Return True if any elements of the iterable is truthy.
* If the iterable is empty, return False.

In [46]:
if any(lista)

False

In [47]:
any([0,1,2,3,4])

True

In [48]:
any([value for value in [1,2,3,4] if value > 2])

True

In [49]:
[value for value in [1,2,3,4] if value > 2]

[3, 4]

In [50]:
any([value%2 == 0 for value in [1,2,3,4]])

True

In [51]:
[value%2 == 0 for value in [1,2,3,4]]

[False, True, False, True]

# 4. <code>max()</code>
* Return the largest item in an iterable or the largest of two or more arguments

In [52]:
max([3,4,1,2])

4

In [53]:
max((1,2,3,4))

4

In [54]:
max('wonkynerd')

'y'

In [55]:
max({1:'a', 3:'c', 2:'b'}) # it compares keys

3

In [57]:
max('a', 'z', 'c')

'z'

In [59]:
names = ["Alejandro", "Guillermo", "pako"]

max(names)

'pako'

In [60]:
max(names, key = lambda n : len(n))

'Alejandro'

In [62]:
people = [
    {'name' : 'Rohit', 'age' : 25},
    {'name' : 'Arjun', 'age' : 30},
    {'name' : 'Abhimanyu', 'age' : 40}
]

In [64]:
max(people, key = lambda s : s['name'])

{'name': 'Rohit', 'age': 25}

In [ ]:
max(people, key = lambda person : person['age'])['name']

In [ ]:

max = 0
for item in people:
    if item['age'] > max:
        max = item['age']
        
print(max)

# 5. <code>min()</code>
* Returns the smallest item in an iterable or the smallest of two or more arguments.

In [ ]:
# Replace max with min in the above examples

# 6. <code>abs()</code>
* Return the absolute value of a number.

In [65]:
abs(-5)

5

In [66]:
abs(5)

5

In [67]:
abs(True)

1

In [68]:
abs(False)

0

In [69]:
abs(3.4444)

3.4444

In [70]:
abs(-3.44444)

3.44444

In [76]:
abs(int('diez'))

ValueError: invalid literal for int() with base 10: 'diez'

In [73]:
abs(float('10'))

10.0

In [74]:
import math

In [75]:
math.fabs(-56) # Return the absolute value of the float x.

56.0

# 7. <code>sum()</code>
* Takes an iterable and an optional start
* Return the sum of a 'start' value (default: 0) plus an iterable of numbers
* When the iterable is empty, return the start value.

In [77]:
sum([1,2,3])

6

In [78]:
sum([])

0

In [79]:
sum([], 10)

10

In [80]:
sum([1,2,3], 10)

16

In [81]:
sum([1.5, 5, 6.8])

13.3

In [82]:
sum({1, 45, 32})

78

In [83]:
sum(["wonkycode", "wonkynerd"])

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
' '.join(["wonkycode", "wonkynerd"]) # concatenation is different from summation

# 8. <code>round()</code>
* Round a number to a given precision in decimal digits.
* The return value is an integer if ndigits is omitted or None. Otherwise the return value has the same type as the number.  ndigits may be negative.

In [84]:
round(10.4)

10

In [89]:
round(10.51)

11

In [86]:
round(10.6)

11

In [ ]:
round(5.1236478)

In [ ]:
round(5.1236478, 3)

In [ ]:
round(3.51564, None)

# 9. <code>sorted()</code>
* Return a new list containing all items from the iterable in ascending order.

In [90]:
sorted([1,3,1,7,9,4])

[1, 3, 4, 5, 7, 9]

In [115]:
nums = [1,2,7,4,5,6]

In [110]:

for n in nums.sort():
    asdfkjhasdkjfhas

[1, 2, 3, 4, 5, 6]

In [111]:
nums

[1, 2, 3, 4, 5, 6]

In [112]:
nums_order

[1, 3, 4, 5, 7, 9]

In [116]:
nums.sort()

In [117]:
nums

[1, 2, 4, 5, 6, 7]

In [ ]:
nums = [5,3,1,7,9,4]

In [118]:
sorted(nums, reverse=True)

[7, 6, 5, 4, 2, 1]

In [ ]:
people = [
    {'name' : 'Rohit', 'age' : 40},
    {'name' : 'Arjun', 'age' : 15},
    {'name' : 'Abhimanyu', 'age' : 20}
]

In [ ]:
sorted(people, key=lambda item : item['age'])

In [ ]:
sorted(people, key=lambda item : item['age'], reverse=True)

# 10. <code>reversed()</code>
* Returns a reverse iterator.

In [140]:
nums = [1,0,3,9,5,6,7,8]

In [145]:
nums.reverse
nums

[8, 7, 6, 5, 9, 3, 0, 1]

type(nums)

In [139]:
numeros = sorted(nums)
numeros

[0, 1, 3, 5, 6, 7, 8, 9]

In [146]:
numeros.reverse()
numeros

[9, 8, 7, 6, 5, 3, 1, 0]

numeros

In [4]:
nums = [1,2,3,4,5,6,7,8]

In [5]:
nums

[1, 2, 3, 4, 5, 6, 7, 8]

In [6]:
reversed(nums)

In [7]:
result = reversed(nums)

In [8]:
list(result)

[8, 7, 6, 5, 4, 3, 2, 1]

In [9]:
list(result)

[]

In [10]:
result = reversed("wonkycode")

In [11]:
list(result)

['e', 'd', 'o', 'c', 'y', 'k', 'n', 'o', 'w']

In [12]:
''.join(list(reversed("wonkycode")))

'edocyknow'

In [13]:
for char in reversed("wonkynerd"):
    print(char)

d
r
e
n
y
k
n
o
w

In [14]:
"wonkynerd"[::-1]

'drenyknow'

In [15]:
for x in reversed(range(0,10)):
    print(x)

9
8
7
6
5
4
3
2
1
0