## <font color="red">Algunos tips para mejorar tu codigo y utilizar python al maximo </font>

# Variables, Strings , Numbers

In [1]:
four_letters = "abdc"
print(four_letters)
4_letters = "abcd"
print(4_letters)

SyntaxError: invalid decimal literal (3334604612.py, line 3)

In [3]:
my_string = "This is just a sentence"
print(my_string[0:5])
print(my_string[0:15:2])
print(my_string[15:0:-2])
print(my_string[10:0:-1])
print(my_string[0:-2])
print(my_string[:7])

This
Ti sjs
satu ish
suj si sih
This is just a senten
This is

In [5]:
print(my_string[8:])

just a sentence

In [6]:
print(my_string[:2])
#take two steps forward
print(my_string[0:7:2])
#reverse slicing
print(my_string[8:0:-1])
print(my_string[6::-1])

Th
Ti s
j si sih
si sihT

In [7]:
print(1, 2, 3, "a", "z", "this is here", "here is something else")
print(1, 2, 3, end="")
print("a", "z", "this is here", "here is something else")
print("this is here", )
print("here is something else", end="")
print("")
print(1, 2, 3, "a", "z", "this is here", "here is something else", sep="- ")

1 2 3 a z this is here here is something else
1 2 3a z this is here here is something else
this is here
here is something else
1- 2- 3- a- z- this is here- here is something else

In [9]:
##anagrams

def if_anagram(fword,sword):
    fword = fword.lower()
    sword = sword.lower()
    print(sorted(fword) == sorted(sword))

if_anagram("eTstinG","Testing")

True

In [10]:
print(id(1))
print(id(2))
print(id(string))
number = 1
print(id(number))
stri = "string1"
print(id(stri))

127653668012272
127653668012304

NameError: name 'string' is not defined

In [11]:
#strings and tuples area immutable
name = "Jack"
print(id(name))
name = "jack"
print(id(name))
#name[1] = 'd'

127653297751344
127653297760048

In [9]:
my_tuble = (1,2,3,4)
print(id(my_tuble))

my_tuble = (1,2,3)
print(id(my_tuble))

139720058292720
139720079244032

In [13]:
#lists, sets, and dictionaries are mutables
cities = ["Ensenada","London","Iowa"]
print(id(cities))
cities.append("Paris")
print(id(cities))

139720058471808
139720058471808

In [235]:
#lists, sets, and dictionaries are mutables
cities = frozenset(["Ensenada","London","Iowa"])
print(id(cities))
#cities.append("Paris")

139720057978656

In [16]:
my_set = {1,1,2,3}
print(id(my_set))
my_set.add(5)
print(id(my_set))

139720076099136
139720076099136

In [154]:
#set immutable
my_set = frozenset({1,1,2,3})
print(my_set)
print(id(my_set))
for ms in my_set:
    print(ms)
#my_set.add(5)

frozenset({1, 2, 3})
139720057977760
1
2
3

In [24]:
my_dicti ={"blue":"azul","red":"rojo","siglo":100}
print(my_dicti)
print(id(my_dicti))
my_dicti["red"] = "FF000"
print(my_dicti)
print(id(my_dicti))
my_dicti["email"]="corre@mi.com"
print(my_dicti)
print(id(my_dicti))

{'blue': 'azul', 'red': 'rojo', 'siglo': 100}
139720058494656
{'blue': 'azul', 'red': 'FF000', 'siglo': 100}
139720058494656
{'blue': 'azul', 'red': 'FF000', 'siglo': 100, 'email': 'corre@mi.com'}
139720058494656

In [136]:
string = "AbCd"
print(string * 3)

AbCdAbCdAbCd

In [37]:
first = "abc"
second = "def"
print(first < second)
second = "ab"
print(first < second)

True
False

In [38]:
##get the value of the character in unicode
print(ord("A"))
print(ord("2"))
print(ord("-"))

65
50
45

In [188]:
my_string="abcdf"
print(my_string.startswith("b"))
print(my_string.startswith("a"))
print(my_string.endswith("b"))
print(my_string.endswith("f"))

False
True
False
True

In [170]:
a____b = "abcd"
print(a____b)
_a_b_c_d = "abdc"
print(_a_b_c_d)

abcd
abdc

In [173]:
#check if a string has all its words starting with an uppercase character
string = "This is a sentence"
print(string.istitle())
string = "This Is A Sentence"
print(string.istitle())

False
True

In [236]:
x = 3
print(1 < x < 10)

True

In [241]:
print(bool("Non empty"))
print(bool(""))
print(bool([]))
print(bool(set([])))
print(bool({}))
print(bool({"a":1}))
print(bool(False))
print(bool(None))
print(bool(0))

True
False
False
False
False
True
False
False
False

In [245]:
string = "string"

def do_nothing():
    string = "do nothing string"

def do_nothing_global():
    global string
    string = "global string"

do_nothing()
print(string)
do_nothing_global()
print(string)

string
global string

# Difference between == and "is"
- "is" check wheter 2 variables are pointing to the same object in memory.
- "==" compares the equality of values that there 2 objects hold.

In [12]:
first_list = [1,2,3]
second_list = [1,2,3]
print(first_list == second_list)
print(first_list is second_list)
third_list = first_list
print(first_list is third_list)
import copy
fourth_list = copy.copy(first_list)
print(first_list is fourth_list)

True
False
True
False

In [288]:
my_list = [1,3,2,3]
my_list2 = []
#length with compare
if len(my_list) > 0:
    print("True")

if len(my_list):
    print("True")

if len(my_list2):
    print("True")
else:
    print("False")

if my_list[2] == True:
    print("True == ")
print(my_list)

from collections import Counter
result = Counter(my_list)
print(result)
print("Most common: ", result.most_common())
print("The most frequent element is:", max(set(my_list), key=my_list.count))    
string = "Banana"
result = Counter(string)
print(result)
print(result['n'])
result_dict = dict(result)
print(result_dict)
print(result_dict.values())
for e,v in result_dict.items():
    print(e,'-->',v) 
print("result.dict most common", result.most_common())    
#using Counter for check if 2 strings are anagrams
word1 = "string"
word2 = "string1"
print(Counter(word1.lower()) == Counter(word2.lower()))

True
True
False
[1, 3, 2, 3]
Counter({3: 2, 1: 1, 2: 1})
Most common:  [(3, 2), (1, 1), (2, 1)]
The most frequent element is: 3
Counter({'a': 3, 'n': 2, 'B': 1})
2
{'B': 1, 'a': 3, 'n': 2}
dict_values([1, 3, 2])
B --> 1
a --> 3
n --> 2
result.dict most common [('a', 3), ('n', 2), ('B', 1)]
False

# Dictionaries

In [43]:
#merge 2 dicts
dictionary_one = {"a":1, "b":2}
dictionary_two = {"c":3, "d":4}

merged = {**dictionary_one, **dictionary_two}
print(merged)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [48]:
# get keys of a dictionary
keys = dictionary_one.keys()
print(keys)
print(list(keys))
# get values
values = dictionary_one.values()
print(list(values))
#swap keys and values
reverse_dictionary = {j:i for i, j in dictionary_one.items()}
print(reverse_dictionary)

dict_keys(['a', 'b'])
['a', 'b']
[1, 2]
{1: 'a', 2: 'b'}

In [175]:
a = 1
b = 3
a - b != b - a

True

## >>>> Math <<<<

In [128]:
print(3/2)
print(3//2)

1.5
1

In [55]:
number = 0101
print(number)

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (2557972969.py, line 1)

In [61]:
print(int(False))
print(float(True))
print(bool(.0))
print(bool(3))
print(bool("a"))
print(bool(" "))

#A complex number is a number of the form a + bi, 
# where a and b are real numbers, and i is an 
# indeterminate satisfying i^2 = −1
print(complex(10,2))

print(hex(11))
x = 10 
y = 11
result = (x - False)/(y * True)
print(result)

0
1.0
False
True
True
True
(10+2j)
0xb
0.9090909090909091

In [110]:
print(1_000_000_000)
print(1_1235_813)

1000000000
11235813

In [99]:
print("21","05","1981", sep="/")

21/05/1981

In [100]:
print("name","domain.com", sep="@")

name@domain.com

## loops

In [229]:
#"Else" condition inside a "for" loop
numbers = [1,1,2,3,5,8]
for number in numbers:
    if number % 2 == 0:
        print(number)
        break
else:

    print("# !odd")

2

In [91]:
for number in range(1,10,3):
    print(number,end=" ")

1 4 7

In [97]:
def range_with_zero(number):
    for i in range(0,number):
        print(i, end=" ")
    
def range_with_no_zero(number):
    for i in range(1,number):
        print(i, end=" ")
        
range_with_zero(3)
print("\n----")
range_with_no_zero(4)

0 1 2
----
1 2 3

## Conditions

In [33]:
#if-elif block can exist without else
def check_number(number):
    if number > 0:
        return "positive"
    elif number == 0:
        return "Zero"
    return "negative

print(check_number(2))
print(check_number(0))
print(check_number(-2))

positive
Zero
negative

In [234]:
n1 = 1
n2 = 2 
n3 = 3
n4 = 4
my_conditions = [n1 > 0, n2 , n3 > n2 , n4 < 2]
if all(my_conditions):
    print("Congratulations")
else:
    print("Sorry one o more conditions fails")

if any(my_conditions):
    print("Congratulations")
else:
    print("Sorry one o more conditions fails")

Sorry one o more conditions fails
Congratulations

##  List

In [91]:
# convert a string into a list of strings
list_input = "[1,1,2,3]"
print(type(list_input))
list_input = [1,2,3]
print(type(list_input))
list_input = [[1,2,3,4],[1,2,3]]
print(type(list_input))

import ast
def string_to_list(string):
    return ast.literal_eval(string)

list_input = "[[1,2,3,4],[1,2,3]]"
my_input_list = string_to_list(list_input)
print(my_input_list)
print(type(my_input_list))

<class 'str'>
<class 'list'>
<class 'list'>
[[1, 2, 3, 4], [1, 2, 3]]
<class 'list'>

In [212]:
# Get elements from a list using named variables
my_list = [1,1,2,3,5,8]
one, two, three, four, five,six = my_list
print(four)
#slice(start,stop,step) get the last n elements
slicing = slice(-4, None)
print(my_list[slicing])
slicing = slice(4,None)
print(my_list[slicing])
slicing = slice(2, 4)
print(my_list[slicing])
slicing = slice(-2)
print(my_list[slicing])
slicing = slice(2)
print(my_list[slicing])
#clean
my_list.clear()
print(my_list)

3
[2, 3, 5, 8]
[5, 8]
[2, 3]
[1, 1, 2, 3]
[1, 1]
[]

In [32]:
# Get n largest or n smallest elements in a list usin the module "heapq"
import heapq
scores = [51,33,41,523,63,7854,8,3,312]
print(heapq.nlargest(3, scores))
print(heapq.nsmallest(4,scores))

[7854, 523, 312]
[3, 8, 33, 41]

In [310]:
# Pass values from a list as method arguments
my_char_list = ['a','b','c','d']
my_list = [1,1,2,3,5,8,13,3]
print(my_list)
print(*my_list)
print(my_char_list)
print(*my_char_list)

[1, 1, 2, 3, 5, 8, 13, 3]
1 1 2 3 5 8 13 3
['a', 'b', 'c', 'd']
a b c d

In [311]:
my_list.reverse()
print(my_list)

[3, 13, 8, 5, 3, 2, 1, 1]

In [316]:
#remove duplicates
print(set(my_list))

{1, 2, 3, 5, 8, 13}

In [319]:
##check "in" and "not in"
for i in range(9):
    if i not in my_list:
        print(i," is not in my list")
    if i in my_list:
        print(i," is in my list")

0  is not in my list
1  is in my list
2  is in my list
3  is in my list
4  is not in my list
5  is in my list
6  is not in my list
7  is not in my list
8  is in my list

In [72]:
my_list.append("e")
print(my_list)
my_char_list.append("pk")
print(my_char_list)
## add a value in the first position
my_list.insert(0,"-")
print(my_list)

[1, 1, 2, 3, 5, 8, 13, 'e']
['a', 'b', 'c', 'd', 'pk']
['-', 1, 1, 2, 3, 5, 8, 13, 'e']

In [36]:
# get all the elements in the middle of the list
_,*my_list_middle_elements,_ = my_list
print(my_list_middle_elements)

[1, 2, 3, 5, 8]

In [38]:
# Pass values from a list as method arguments
def sum_of_elements(*arg):
    total = 0
    for i in arg:
        total += i
    return total

result = sum_of_elements(*my_list)
print(result)

33

In [40]:
# assign multiple variables in just one line
one, two, three, four = 1,1,2,3
print(three)

2

In [182]:
# list comprehensions
even_numbers = [number for number in my_list if number % 2 == 0]
print(even_numbers)
type(even_numbers)

[2]

list

In [320]:
#count the number of times an element appears
names = ["Besim","Albert","Besim","Fisnik","Jack"]
print(names.count("Besim"))

from itertools import count

current_counter = count()
for i in names:
    if len(i) > 5:
        print("si")

2
si
si

In [321]:
#sort and sorted
#sort() sorts the original list
#sorted() returns a new sorted list
names = ["Besim","Albert","Besim","Fisnik","Jack"]
new_names = sorted(names)
print(new_names)
print(names)
names.sort()
print(names)

['Albert', 'Besim', 'Besim', 'Fisnik', 'Jack']
['Besim', 'Albert', 'Besim', 'Fisnik', 'Jack']
['Albert', 'Besim', 'Besim', 'Fisnik', 'Jack']

## Dictionaries

In [214]:
# dictionary comprehensions 
my_dictionary = {'first':1,'second':2,'third':3,'fourth':4}
odd_numbers = {key: num for(key,num) in my_dictionary.items() if num % 2 == 1}
print(odd_numbers)

{'first': 1, 'third': 3}

In [215]:
my_second_dictionary = {'primero':10,'segundo':12,'tercero':13}
result = my_dictionary | my_second_dictionary
print(result)

{'first': 1, 'second': 2, 'third': 3, 'fourth': 4, 'primero': 10, 'segundo': 12, 'tercero': 13}

In [216]:
merged = {**my_dictionary, **my_second_dictionary}
print(merged)

{'first': 1, 'second': 2, 'third': 3, 'fourth': 4, 'primero': 10, 'segundo': 12, 'tercero': 13}

In [219]:
merged.clear()
print(merged)

{}

In [225]:
first_set = {4,5,6,7}
second_set = {1,2,3}
print(first_set.union(second_set))
first_set.update(second_set)
print(first_set)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

## Tuples

In [174]:
books = ('Divine Comedy','Dune','Art of War','Alan poe')
print(books.index('Dune'))

1

In [210]:
numbers = (1,1,2,3,5,8,13)
print(numbers[-1])
print(numbers[-4])
print(numbers.count(1))
print(numbers.index(3))
print(numbers[::2])
print(numbers[2:5:2])

13
3
2
3
(1, 2, 5, 13)
(2, 5)

In [181]:
#nest a list and a tuble inside a tuple
mixed_tuple = (("a" * 10, 3, 4), ['first','second','third'])
print(mixed_tuple[1])
print(mixed_tuple[0])

['first', 'second', 'third']
('aaaaaaaaaa', 3, 4)

## Enum´s

In [157]:
from enum import Enum

class Status(Enum):
    NO_STATUS = -1
    NOT_STARTED = 0
    IN_PROGRESS = 1
    COMPLETED = 2

print(Status.IN_PROGRESS.name)
print(Status.IN_PROGRESS.value)

IN_PROGRESS
1

## print

In [226]:
string = "This is a message "
result = string.swapcase()
print(result)
print(string.isspace())
print(string.isalnum())
print(string.rstrip("e "))
string = "This"
print(string.isalpha())
string = "1123"
print(string.isalnum())
print(string.isalpha())
print(string.isdigit())

tHIS IS A MESSAGE
False
False
This is a messag
True
True
False
True

In [228]:
#conditions inside the print function
number = -4
print("Positivo" if number > 0 else "Negative")

Negative

#  validations

In [130]:
first_list = [1,2,3]
second_list = [1,2,3]

In [131]:
print(first_list == second_list)

True

In [132]:
print(first_list is second_list)

False

In [133]:
third_list = first_list
print(third_list is first_list)

True

<img src="PyObjectName.png">

### LAMBDA

In [83]:
compare = lambda x: print("algo ") if x > 3 else print("<")
compare(-4)

<

In [84]:
#return a new object, filter
my_list = [1,2,3,4]
odd = filter(lambda x:x % 2 == 1, my_list)
print(list(odd))
print(my_list)

[1, 3]
[1, 2, 3, 4]

In [87]:
#return a new object, map
my_list = [1,2,3,4]
squared = map(lambda x:x ** 2, my_list)
print(list(squared))
print(my_list)

[1, 4, 9, 16]
[1, 2, 3, 4]

## Methods

In [124]:
#multiple declarations
def get_address():
    print("First")

def get_address():
    print("Second")

get_address()

Second

In [138]:
def get_sum(*arguments):
    result = 0
    for i in arguments:
        print(i,end=" ")
        if type(i) != str:
            result += i
        else:
            result += ord(i)
    print("=",end=" ")
    return result

print(get_sum(1,2,3))
print(get_sum(1,1,2,3,5,8))
print(get_sum(1,2,'a'))

1 2 3 = 6
1 1 2 3 5 8 = 20
1 2 a = 100

# class

In [117]:
class Engineer:
    def __init__(self, name):
        self.name = name
        self.__starting_salary = 62000
        
dain = Engineer('Dain')
print(dain.name)
print(dain._Engineer__starting_salary)
print(dain.__starting_salary)

Dain
62000

AttributeError: 'Engineer' object has no attribute '__starting_salary'

In [123]:
#check the memory usage of an object
import sys

print(sys.getsizeof("bitcoin"))
print(sys.getsizeof("ethereum"))
print(sys.getsizeof(1))
print(sys.getsizeof(2))

56
57
28
28

In [140]:
#call the parent class´s initializer usin super() or parent class´s name
class Parent:
    def __init__(self, city, address):
        self.city = city
        self.address = address
        
class Child(Parent):
    def __init__(self, city, address, university):
        super().__init__(city, address)
        self.university = university
        
child = Child('Ensenada','Reforma 1123','UABC')
print(child.university)

UABC

In [152]:
class Expenses:
    def __init__(self, rent, groceries):
        self.rent = rent
        self.groceries = groceries
        
    def __add__(self, other):
        return Expenses(self.rent + other.rent, self.groceries + other.groceries)
    
    def __lt__(self, other):
        return (self.rent + self.groceries) < (self.groceries + other.rent)

    def __repr__(self):
        return("Expenses --> " + str(self.rent) +" - " + str(self.groceries))
"""
__eq__       =
__mul__      *
__sub__      -
__truediv__  /
__ne__       !=
__ge__       >=
__gt__       >

"""
april_expenses =  Expenses(1000, 200)
may_expenses = Expenses(1500, 150)
print(april_expenses < may_expenses)
total_expenses = april_expenses + may_expenses

print(total_expenses.rent)

print(total_expenses.groceries)

print(april_expenses)

True
2500
350
Expenses --> 1000 - 200

##EXTRA

In [293]:
#copy() and deepcopy
#copy
first_list = [[1,2,3],['a','b','c']]
second_list = first_list.copy()
first_list[0][2] = 831
print(first_list)
print(second_list)

[[1, 2, 831], ['a', 'b', 'c']]
[[1, 2, 831], ['a', 'b', 'c']]

In [314]:
#deepcopy
import copy
first_list = [[1,2,3],['a','b','c']]
second_list = copy.deepcopy(first_list)
third_list = first_list #copy()
first_list[0][2] = 831
print(first_list)
print(second_list)
print(third_list)

[[1, 2, 831], ['a', 'b', 'c']]
[[1, 2, 3], ['a', 'b', 'c']]
[[1, 2, 831], ['a', 'b', 'c']]

In [315]:
#print the place where a module is located
print(copy)

<module 'copy' from '/home/pako/anaconda3/lib/python3.9/copy.py'>

## Dictionary

In [300]:
my_dictionay = {"name":"Name","age":"Age"}
print(my_dictionary["date"])

KeyError: 'date'

In [303]:
from collections import defaultdict
default_dictionay = defaultdict(str)
default_dictionay["name"] = "Name"
default_dictionay["age"] = "Age"
print(default_dictionay["name"])
print(default_dictionay["date"])

Name

## build your own iterator

In [322]:
class OddNumbers:
    def __iter__(self):
        self.a = 1
        return self
    
    def __next__(self):
        x = self.a
        self.a += 2
        return x
    
odd_numbers_object = OddNumbers()
iterator = iter(odd_numbers_object)
print(next(iterator))
print(next(iterator))
print(next(iterator))

1
3
5

In [326]:
import uuid
print(uuid.uuid1())
print(uuid.uuid4())

96b1235a-d7c7-11ec-963f-e86a64069fdf
5699b8fa-61e8-4762-b7ec-f272b16a1df8