# Some Built-in Functions
By:<a href='https://www.youtube.com/wonkyCode'>WonkyCode</a>

# 1. <code>zip()</code>
* Returns an iterator of tuples, where the i-th tuple contains the i-th element from each of the argument sequences or iterables

In [ ]:
zipped = zip([1,2,3],[4,5,6])

In [ ]:
zipped

In [ ]:
list(zipped)

In [ ]:
num1 = [1,2,3,4,5]
num2 = [6,7,8,9,10]
num3 = [11,12]

zip(num1, num2, num3)

In [ ]:
list(zip(num1, num2, num3))

In [ ]:
names = ["Rohit", "Harsha", "Saran", "Shakeer", "Abhijith"]

list( zip(names, num1, num2) )

We can also unpack zipped content

In [ ]:
zipped = [(0,1), (1,2), (2,3), (3,4), (4,5)]
zip(*zipped)

In [ ]:
list(zip(*zipped))

In [ ]:
marks_sem1 = [80, 91, 78]
marks_sem2 = [98, 89, 53]

students = ["Rohit", "Arjun", "Abhimanyu"]

final = [max(pair) for pair in zip(marks_sem1, marks_sem2)]

final

In [ ]:
final_dict = {pair[0] : max(pair[1], pair[2]) for pair in zip(students, marks_sem1, marks_sem2)}

final_dict

In [ ]:
final = map(lambda pair : max(pair), zip(marks_sem1, marks_sem2))

In [ ]:
list(final)

In [ ]:
final = zip(students, map(lambda pair : max(pair), zip(marks_sem1, marks_sem2)))

dict(final)

# 2. <code>all()</code>
* Return True if all elements of the iterable are truthy.
* If the iterable is empty, return True.

In [ ]:
all([0,1,2,3]) # because 0 is not a truthy value

In [ ]:
all([1,2,3])

In [ ]:
all( [char for char in 'eio' if char in 'aeiou'] )

In [ ]:
[char for char in 'eio' if char in 'aeiou']

In [ ]:
all( [num for num in [4,2,10,6,8] if num % 2 == 0] )

In [ ]:
names = ["Rohit", "Arjun", "Abhimanyu"]

In [ ]:
all( [name[0] == 'R' for name in names] )

In [ ]:
[name[0] == 'R' for name in names]

In [ ]:
all([])

# 3. <code>any()</code>
* Return True if any elements of the iterable is truthy.
* If the iterable is empty, return False.

In [ ]:
any([])

In [ ]:
any([0,1,2,3,4])

In [ ]:
any([value for value in [1,2,3,4] if value > 2])

In [ ]:
[value for value in [1,2,3,4] if value > 2]

In [ ]:
any([value%2 == 0 for value in [1,2,3,4]])

In [ ]:
[value%2 == 0 for value in [1,2,3,4]]

# 4. <code>max()</code>
* Return the largest item in an iterable or the largest of two or more arguments

In [ ]:
max([3,4,1,2])

In [ ]:
max((1,2,3,4))

In [ ]:
max('wonkynerd')

In [ ]:
max({1:'a', 3:'c', 2:'b'}) # it compares keys

In [ ]:
max('a', 'b', 'c')

In [ ]:
names = ["Rohit", "Arjun", "Abhimanyu"]

max(names)

In [ ]:
max(names, key = lambda n : len(n))

In [ ]:
people = [
    {'name' : 'Rohit', 'age' : 25},
    {'name' : 'Arjun', 'age' : 30},
    {'name' : 'Abhimanyu', 'age' : 40}
]

In [ ]:
max(people, key = lambda s : s['age'])

In [ ]:
max(people, key = lambda person : person['age'])['name']

In [ ]:

max = 0
for item in people:
    if item['age'] > max:
        max = item['age']
        
print(max)

# 5. <code>min()</code>
* Returns the smallest item in an iterable or the smallest of two or more arguments.

In [ ]:
# Replace max with min in the above examples

# 6. <code>abs()</code>
* Return the absolute value of a number.

In [ ]:
abs(-5)

In [ ]:
abs(5)

In [ ]:
abs(True)

In [ ]:
abs(False)

In [ ]:
abs(3.4444)

In [ ]:
abs(-3.44444)

In [ ]:
abs('10')

In [ ]:
abs(float('10'))

In [ ]:
import math

In [ ]:
math.fabs(-56) # Return the absolute value of the float x.

# 7. <code>sum()</code>
* Takes an iterable and an optional start
* Return the sum of a 'start' value (default: 0) plus an iterable of numbers
* When the iterable is empty, return the start value.

In [ ]:
sum([1,2,3])

In [ ]:
sum([])

In [ ]:
sum([], 10)

In [ ]:
sum([1,2,3], 10)

In [ ]:
sum([1.5, 5, 6.8])

In [ ]:
sum({1, 45, 32})

In [ ]:
sum(["wonkycode", "wonkynerd"])

In [ ]:
' '.join(["wonkycode", "wonkynerd"]) # concatenation is different from summation

# 8. <code>round()</code>
* Round a number to a given precision in decimal digits.
* The return value is an integer if ndigits is omitted or None. Otherwise the return value has the same type as the number.  ndigits may be negative.

In [ ]:
round(10.4)

In [ ]:
round(10.5)

In [ ]:
round(10.6)

In [ ]:
round(5.1236478)

In [ ]:
round(5.1236478, 3)

In [ ]:
round(3.51564, None)

# 9. <code>sorted()</code>
* Return a new list containing all items from the iterable in ascending order.

In [ ]:
sorted([5,3,1,7,9,4])

In [ ]:
nums = [5,3,1,7,9,4]

In [ ]:
sorted(nums)

In [ ]:
nums

In [ ]:
nums.sort()

In [ ]:
nums

In [ ]:
nums = [5,3,1,7,9,4]

In [ ]:
sorted(nums, reverse=True)

In [ ]:
people = [
    {'name' : 'Rohit', 'age' : 40},
    {'name' : 'Arjun', 'age' : 15},
    {'name' : 'Abhimanyu', 'age' : 20}
]

In [ ]:
sorted(people, key=lambda item : item['age'])

In [ ]:
sorted(people, key=lambda item : item['age'], reverse=True)

# 10. <code>reversed()</code>
* Returns a reverse iterator.

In [1]:
nums = [1,2,3,4,5,6,7,8]

In [2]:
nums.reverse()

In [3]:
nums

[8, 7, 6, 5, 4, 3, 2, 1]

In [4]:
nums = [1,2,3,4,5,6,7,8]

In [5]:
nums

[1, 2, 3, 4, 5, 6, 7, 8]

In [6]:
reversed(nums)

In [7]:
result = reversed(nums)

In [8]:
list(result)

[8, 7, 6, 5, 4, 3, 2, 1]

In [9]:
list(result)

[]

In [10]:
result = reversed("wonkycode")

In [11]:
list(result)

['e', 'd', 'o', 'c', 'y', 'k', 'n', 'o', 'w']

In [12]:
''.join(list(reversed("wonkycode")))

'edocyknow'

In [13]:
for char in reversed("wonkynerd"):
    print(char)

d
r
e
n
y
k
n
o
w

In [14]:
"wonkynerd"[::-1]

'drenyknow'

In [15]:
for x in reversed(range(0,10)):
    print(x)

9
8
7
6
5
4
3
2
1
0